@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


body
{
    text-rendering: geometricPrecision;
    margin: 0%;
    font-family: 'Raleway', sans-serif;
}

a
{
    text-decoration: none;
}

main
{
    margin-top: 35px;
    padding: 0;
}


/* Header */

header
{
    height: 130px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#logo
{
    position: absolute;
    height: 90px;
    width: auto;
    left: 5%;
    top: -5px;
    box-sizing: border-box;
    display: flex;
}

#logo img
{
    position: absolute;
    height: 50px;
}

#menu_nav
{
    box-sizing: border-box;
    position: absolute;
    height: 130px;
    width: 100%;
}

nav
{
    width: inherit;
    height: inherit;
}

#list_nav
{
    box-sizing: border-box;
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 130px;
    list-style: none;
}

header li
{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    font-size: 1em;
}
#list_nav a
{
    color: black;
    display: flex;
    height: 20px;
    flex: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 85px;
    border-bottom: solid 3px #F2F2F2;
}

#list_nav a:hover
{
    color: #0065FC;
    border-bottom: #0065FC 3px solid;
    border-top: unset;
}

#list_nav li:nth-child(3)
{
    display: none;
}

#inscription
{
    position: absolute;
    right: 5%;
    top: 40px;
    height: 30px;
    padding: 0;
    color:  #0065FC;
}

#inscription_2
{
    display: inline;
}

/* fin du Header */

/* section recherche */

h3
{
    font-weight: bolder;
    margin: 0;
}

#recherche
{
    display: flex;
    flex-direction: column;
}

#en_tete
{
    margin: 0 5%;
}

#recherche_zone
{
    margin: 0 5%;
    margin-bottom: 35px;
}

#bouton_recherche
{
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 15px;
    overflow: visible;
    margin: 10px 0;
    border: solid #F2F2F2 1px;
}

#bouton_recherche #logo_recherche
{
    position: relative;
    top: -1px;
    width: 52px;
    height: 52px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    display: flex;
}

#bouton_recherche .search_logo
{
    margin: auto;
}

#bouton_recherche input
{
    box-sizing: inherit;
    min-width: 100px;
    flex: 1;
    width: auto;
    font-size: 1.1em;
    padding: 0;
    text-indent: 15px;
    text-align: start;
    font-weight: bold;
    border: none;
}

#bouton_recherche button
{
    top: -1px;
    position: relative;
    height: 52px;
    width: 52px;
    border-radius: 15px;
    background-color:  #0065fc;
    font-weight: bold;
    color: white;
    font-size: 1em;
    border: none;
}

#bouton_recherche span:nth-child(2)
{
    display: inline;
}

#bouton_recherche span:nth-child(1)
{
    display: none;
}

/* Sous partie filtres */
#filtres
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5%;
}

#filtres h4
{ 
    position: relative;
    margin: 0;
    font-size: 1em;
    width: 100%;
    display: flex;
}

#filtres h4:nth-child(1)
{
    margin-bottom: 20px;
    font-size: 1.2em;
}

.selecteur
{
    box-sizing: border-box;
    position: relative;
    width: min-content;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin-right: 20px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
    border: 2px solid #d9d9d9;
    border-radius: 5em;
    align-items: center;
    justify-content: center;
}

.selecteur:visited
{
    text-decoration: none;
}

.selecteur:hover
{
    opacity: 50%;
}

.selecteur h4
{
    box-sizing: border-box;
    width: min-content;
    position: relative;
    left: -5px;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    color: black;
    font-size: 1.1em;
    font-weight: bolder;
}

.logo_container
{
    box-sizing: border-box;
    position: relative;
    left: -2px;
    height: 50px;
    width: 50px;
    display: flex;
    padding: 0;
    background-color: #DEEBFF;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.logo_selecteur
{
    position: relative;
    color: #0065fc;
}

#informations
{
    margin: 0 5%;
}

#text_infos
{
    display: flex;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#text_infos p
{
    position: relative;
    margin: 0;
    padding-top: 2px;
    margin-left: 10px;
}

#info_circle
{
    display: flex;
    width: 20px;
    height: 20px;
    border: solid #DEEBFF 1px;
    border-radius: 10px;
}

.info
{
    position: relative;
    margin: auto;
    font-size: 13px;
    color: #0065FC;
}

/* Fin de sous partie filtres */

/* Fin de section recherche */

/* section Hébergements */

#hebergements
{
    display: flex;
    flex-direction: column-reverse;
}


#hébergements h4
{
    margin: 0%;
}

/* Fin de section Hébergements */

/* Partie "Hébergements à Marseille" */

#hebergements_in_city
{
    box-sizing: border-box;
    margin: 0;
    padding: 40px 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#hebergements_in_city h3
{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
}

#hotels
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
}

.logement
{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border: white solid 5px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #d7d7d7;
}

.image_hotels
{
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.image_hotels img
{
    position: relative;
    top: -10%;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: -100px;
}

#img_4
{
    top: -140px;
}

#img_5
{
    width: 110%;
    height: auto;
    top: -10%;
}

#img_6
{
    top: -250px;
}

.content_hotels
{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55px;
    padding: 10px;
    font-size: 0.9em;
}

.content_hotels p
{
    margin: 0;
}

.logement a
{
    text-decoration: none;
    color: black;
}

.content_hotels h4
{
    font-size: 17px;
    font-weight: bolder;
    margin: 0%;
}

#link_down_hotels h4
{
    font-weight: bolder;
    margin: 0;
    margin-top: 5px;
    font-size: 15px;
}

#link_down_hotels a
{
    color: black;
}

.stars
{
    margin-top: 5px;
    display: flex;
    font-size: 0.8em;
}

.active-star
{
    color: #0065fc;
}

.inactive-star
{
    color: #F2F2F2;
}

/* Fin de partie "Hébergements à Marseille" */

/* Partie "Les plus populaires" */

#populaires
{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-right: unset;
    padding: 40px 5%;
    padding-bottom: unset;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 0;
}

#title_populaires
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 0;
    font-size: 20px;
    font-weight: bolder;
}

#title_populaires h3
{
    font-size: 20px;
    margin: 0;
}

#logements_populaires
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logement_2
{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: white solid 5px;
    border-radius: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #d7d7d7;
    background-color: white;
}

.logement_2 a
{
    box-sizing: border-box;
    position: relative;
    height: 135px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

.images_populaires
{
    position: relative;
    object-fit: cover;
    width: 125px;
    overflow: hidden;
}

.images_populaires img
{
    position: relative;
    object-fit: cover;   
    width: 100%;
    height: 100%;
}


.images_populaires #img_3
{
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.content_populaires
{
    background-color: white;
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.content_populaires h4
{
    font-size: 17px;
    font-weight: bolder;
    margin: 0;
}

.content_populaires p
{
    margin: 10px 0;
}

.content_populaires .stars
{
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}
/* Fin de partie "Les plus populaires" */

/* Partie "Activités à Marseille*/

#activites
{
    box-sizing: border-box;
    margin: 0 5%;
    padding-bottom: 4em;
}

#activites h3
{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
}

#activites_in_city
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activites_in_city a
{
    text-decoration: none;
    color: black;
}

#activites_in_city a:visited
{
    color: black;
}

#activites_in_city h4
{
    padding: 0 10px;
    margin: unset;
}

.lieu_activite
{
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    background-color: white;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
}

.style_1
{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 205px;
    box-shadow: 0px 0px 10px #d7d7d7;
    border-radius: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.image_style_1
{
    object-fit: cover;
    flex: 1;
    overflow: hidden;
}

.style_1 img
{
    position: relative;
    width: 100%;
    height: 460px;
    object-fit: cover;
}

.style_1 img:nth-child(1)
{
    left: -155px;
    top: -150px;
}

.style_2
{
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.style_2 img
{
    width: 100%;
    height: 150px;
    position: relative;
    object-fit: cover;
}

.style_2 a
{
    height: 205px;
    margin-bottom: 25px;
}

.activité_2
{
    position: relative;
    box-shadow: 0px 0px 10px #d7d7d7;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px;
    height: 205px;
    display: flex;
    flex-direction: column;
}

.image_style_1 img
{
    position: relative;
    left: -25%;
    width: 200%;
}

.image_style_2
{
    position: relative;
    object-fit: cover;
    height: 150px;
    overflow: hidden;
}

#image_style_2_top_left
{
    height: 150px;
}

#image_style_2_top_left img
{
    top: 0px;
}

#image_style_2_bottom_left
{
    height: 150px;
}

#image_style_2_bottom_left img
{
    top: 0px;
}

#image_style_2_top_right
{
    height: 150px;
}

#image_style_2_top_right img
{
    width: 100%;
    height: auto;
}

#image_style_2_bottom_right
{
    height: unset;
    top: 0px;
}

#image_style_2_bottom_right img
{
    top: unset;
}

/* Fin de partie "Activités à Marseille" */

/* Partie Footer */

footer h4
{
    margin: 0px;
}

footer li
{
    list-style: none;
    margin-bottom: 15px;
}

footer ul
{
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0%;
}

footer
{
    padding: 50px 5%;
    padding-bottom: 35px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer a
{
    color: black;
}

#a_propos_footer
{
    margin: 0px;
    margin-top: 0px;
    flex: 1;
}

#hébergements_footer
{
    margin: 0px;
    margin-top: 35px;
    flex: 1;
}

#assistance_footer
{
    margin: 0px;
    margin-top: 35px;
    flex: 1;
}