body
{
    margin: 0%;
}

/* Header */

header
{
    display: flex;
    flex-direction: row;
}

#logo
{
    display: flex;
    flex: 1;
    background-color: blue;
}

#menu_nav
{
    display: flex;
    background-color: brown;
}

header ul
{
    display: flex;
    flex: 1;
    padding: 0%;
    flex-direction: row;
    list-style: none;
}

header li
{
    padding: 0em 1em;
}

/* fin du Header */

/* section recherche */

#recherche
{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}

#filtres
{
    display: flex;
    flex-direction: row;
}

#filtres h3
{
    margin: 0%;
    text-align: center;
}

.selecteur
{
    display: flex;
    flex-direction: row;
    margin: 1em;
}

/* Fin de section recherche */

/* section Hébergements */

#hebergements
{
    margin: 1em;
    display: flex;
}

#hébergements h4
{
    margin: 0%;
}

/* Fin de section Hébergements */

/* Partie "Hébergements à Marseille" */

#hebergements_in_city
{
    margin: 1em;
    padding: 1em;
    width: 66%;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
}

#hotels
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
}

.logement
{
    width: 30%;
    height: auto;
    margin: 5% 1%;
    border: solid black 2px;
}

.image_hotels
{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

.logement img
{
    max-width: 100%;
    max-height: auto;
}

/* Fin de partie "Hébergements à Marseille" */

/* Partie "Les plus populaires" */

#populaires
{
    margin: 1em;
    width: 34%;
    display: flex;
    flex-direction: column;
    background-color: chocolate;
}

#title_populaires
{
    display: flex;
}

#title_populaires h3
{
    margin: 0%;
}

#logements_populaires
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logement_2
{
    display: flex;
    flex-direction: row;
    border: solid black 2px;
}

.images_populaires
{
    width: 38.5%;
}

.images_populaires img
{
    max-width: 100%;
    max-height: auto;
}

/* Fin de partie "Les plus populaires" */

/* Partie "Activités à Marseille*/

#activités_in_city
{
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.style_1
{
    background-color: cadetblue;
    margin: 1em;
    padding: 1em;
    border: solid black 2px;
}

.style_2
{
    background-color: coral;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.activité_2
{
    border: solid black 2px;
}

/* Fin de partie "Activités à Marseille" */

/* Partie Footer */

footer li
{
    list-style: none;
}

footer ul
{
    padding: 0%;
}

footer
{
    padding: 1em;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
}

#a_propos_footer
{
    margin: 1em;
    flex: 1;
}

#hébergements_footer
{
    margin: 1em;
    flex: 1;
}

#assistance_footer
{
    margin: 1em;
    flex: 1;
}