@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


body
{
    margin: 0%;
    font-family: 'Raleway', sans-serif;
}

a
{
    text-decoration: none;
}

main
{
    padding: 0 2em;
}


/* Header */

header
{
    padding: 0 2em;
    display: flex;
    flex-direction: row;
}

#logo
{
    display: flex;
    flex: 2;
    margin: 2em 0;
}

#menu_nav
{
    display: flex;
    flex: 1;
}

nav
{
    width: 100%;
}

#list_nav
{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header li
{
    display: flex;
    height: 100%;
    justify-content: center;
    font-size: 1em;
}

header a
{
    color: black;
    display: flex;
    padding: 0 1em;
    height: 100%;
    align-items: center;
}

header a:hover
{
    color: #0065FC;
    border-top: #0065FC 2px solid;
}

#inscription
{
    color:  #0065FC;
}

/* fin du Header */

/* section recherche */

h2
{
    font-weight: bolder;
    margin: 0;
}

#recherche
{
    display: flex;
    flex-direction: column;
}

#bouton_recherche
{
    display: flex;
    width: min-content;
    border-radius: 1em;
    overflow: hidden;
    margin: 10px 0;
}

#bouton_recherche i
{
    padding: 15px;
    background-color: #F2F2F2;
    font-size: 1em;
}

#bouton_recherche input
{
    border: solid #F2F2F2 1px;
    padding: 0 1em;
    font-weight: bold;
}

#bouton_recherche button
{
    background-color:  #0065fc;
    font-weight: bold;
    color: white;
    font-size: 1em;
    padding: 15px;
    border: none;
}
/* Sous partie filtres */
#filtres
{
    display: flex;
    flex-direction: row;
}

#filtres h4
{
    margin: 0%;
    display: flex;
    align-items: center;
    text-align: center;
}

.selecteur
{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 1em;
    border: 3px solid #F2F2F2;
    border-radius: 5em;
    align-items: center;
    justify-content: center;
    outline: 0;
}

.selecteur:hover
{
    opacity: 50%;
}

.selecteur:focus
{
    background-color: #0065fc;
    border: none;
}

.selecteur h4
{
    padding: 1em;
}

.logo_container
{
    height: 30px;
    width: 30px;
    display: flex;
    padding: 1em;
    background-color: #DEEBFF;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.logo_selecteur
{
    color: blue;
}

/* Fin de sous partie filtres */

/* Fin de section recherche */

/* section Hébergements */

#hebergements
{
    margin: 1em;
    display: flex;
}

#hébergements h4
{
    margin: 0%;
}

/* Fin de section Hébergements */

/* Partie "Hébergements à Marseille" */

#hebergements_in_city
{
    margin: 1em;
    padding: 40px;
    width: 66%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1em;
}

#hotels
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
}

.logement
{
    width: 30%;
    height: auto;
    padding: 5px;
    margin-bottom: 35px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 15px grey;
}

.image_hotels
{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image_hotels img
{
    z-index: 2;
    position: relative;
    top: -25%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
    max-height: auto;
}

.content_hotels
{
    z-index: 1;
    margin: 10px;
}

.content_hotels h4
{
    margin: 0%;
}

/* Fin de partie "Hébergements à Marseille" */

/* Partie "Les plus populaires" */

#populaires
{
    margin: 1em;
    padding: 40px;
    width: 34%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1em;
}

#title_populaires
{
    display: flex;
    justify-content: space-between;
}

#logements_populaires
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logement_2
{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: white solid 5px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 15px grey;
    margin-bottom: 35px;
}

.content_populaires
{
    padding-left: 10px;
}

.images_populaires
{
    width: 38.5%;
}

.images_populaires img
{
    max-width: 100%;
    max-height: auto;
}

/* Fin de partie "Les plus populaires" */

/* Partie "Activités à Marseille*/

#activités_in_city
{
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.style_1
{
    margin: 0;
    padding: 0;
    width: 25%;
    box-shadow: 0px 0px 15px grey;
    border-radius: 15px;
    overflow: hidden;
}

.style_2
{
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.activité_2
{
    box-shadow: 0px 0px 15px grey;
    border-radius: 15px;
    overflow: hidden;
}

.image_style_1
{
    overflow: hidden;
}

.image_style_1 img
{
    position: relative;
    left: -25%;
    width: 200%;
}

.image_style_2
{
    overflow: hidden;
}

.image_style_2 img
{
    max-width: 100%;
    max-height: auto;
}

/* Fin de partie "Activités à Marseille" */

/* Partie Footer */

footer li
{
    list-style: none;
}

footer ul
{
    padding: 0%;
}

footer
{
    padding: 1em;
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

footer a
{
    color: black;
}

#a_propos_footer
{
    margin: 1em;
    flex: 1;
}

#hébergements_footer
{
    margin: 1em;
    flex: 1;
}

#assistance_footer
{
    margin: 1em;
    flex: 1;
}