body
{
    margin: 0%;
}

/* Header */

header
{
    display: flex;
    flex-direction: row;
}

#logo
{
    display: flex;
    flex: 1;
    background-color: blue;
}

#menu_nav
{
    display: flex;
    background-color: brown;
}

header ul
{
    display: flex;
    flex: 1;
    padding: 0%;
    flex-direction: row;
    list-style: none;
}

header li
{
    padding: 0em 1em;
}

/* fin du Header */

/* section recherche */

#recherche
{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}

#filtres
{
    display: flex;
    flex-direction: row;
}

#filtres h3
{
    margin: 0%;
    text-align: center;
}

.selecteur
{
    display: flex;
    flex-direction: row;
    margin: 1em;
}

/* Fin de section recherche */

/* section Hébergements */

#hébergements
{
    margin: 1em;
    display: flex;
}

/* Fin de section Hébergements */

/* Partie "Hébergements à Marseille" */

#hebergements_in_city
{
    margin: 1em;
    width: 66%;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
}

#hotels
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
}

/* Fin de partie "Hébergements à Marseille" */

/* Partie "Les plus populaires" */

#populaires
{
    margin: 1em;
    width: 34%;
    display: flex;
    flex-direction: column;
    background-color: chocolate;
}

/* Fin de partie "Les plus populaires" */